<template name="adminHome">
  <div class="container-fluid">
       <div class="row">
         <div class="col-sm-3 col-md-2 sidebar">
           <ul class="nav nav-sidebar">
             <li class="active"><a href="#">Pages <span class="sr-only">(current)</span></a></li>
             <li><a href="#">Users</a></li>

           </ul>

         </div>
         <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
           <h1 class="page-header">Pages</h1>


           <!-- <h2 class="sub-header">Section title</h2> -->
           <div class="table-responsive">
             <table class="table table-striped">
               <thead>
                 <tr>
                   <th>#</th>
                   <th>Menu</th>
                   <th>Author</th>
                   <th>Updated Time</th>
                 </tr>
               </thead>
               <tbody>

                {{#each pages}}
                 <tr><td>{{_id}}</td><td>{{menu}}</td> <td>16-10-2015</td><td><a class="btn btn-default pageEdit" role="button" href="{{pathFor 'adminPageEdit'}}">Edit</a> </td></tr>
                {{/each}}

               </tbody>
             </table>
           </div>
         </div>
       </div>
     </div>
</template>
