<template name="adminHome">
  <div class="container-fluid">
       <div class="row">
         <div class="col-sm-3 col-md-2 sidebar">
           <ul class="nav nav-sidebar">
             <li class="active"><a href="#">Pages <span class="sr-only">(current)</span></a></li>
             <li><a href="#">Users</a></li>
           </ul>
         </div>
         <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
           <h1 class="page-header">Pages </h1>
           <div class="pull-right">
           <a class="btn btn-success addpage fa fa-plus" href="{{pathFor 'adminPageEdit' _id = 'newpage'}}"> Add</a>
           <a class="btn btn-danger addpage fa fa-trash" href="#"> Remove</a>
         </div>
           <!-- <h2 class="sub-header">Section title</h2> -->
           <div class="table-responsive">
             <table class="table table-striped">
               <thead>
                 <tr>
                   <th>
                     <div class="checkbox">
                       <input type="checkbox" class="selectall" value="">
                     </div>
                   </th>
                   <th>Page</th>
                   <th>SEO Url</th>
                   <th>Status</th>
                   <th>Author</th>
                   <th>Created</th>
                   <th>Updated</th>
                   <th>Action</th>
                 </tr>
               </thead>
               <tbody>
                {{#each pages}}
                  <tr>
                    <td>
                      <div id={{_id}} class="checkbox">
                        <input type="checkbox" class="selectall" value="{{_id}}">
                      </div>
                    </td>
                    <td>{{menu}}</td>
                    <td>{{seourl}}</td>
                    <td>{{status}}</td>
                    <td>{{author}}</td>
                    <td>{{formatDate submitted}}</td>
                    <td>{{formatDate lastUpdated}}</td>
                    <td><a class="btn btn-default pageEdit fa fa fa-pencil-square-o" role="button" href="{{pathFor 'adminPageEdit'}}">Edit</a> </td>
                  </tr>
                {{/each}}
               </tbody>
             </table>
           </div>
         </div>
       </div>
     </div>
</template>
