<template name="adminListingEdit">
    <form class="main form page">
        <div class="form-group">
            <label class="control-label" for="url">Listing Number</label>
            <div class="controls">
                <input name="listingId" id="listingId" type="text" value="{{listingId}}" placeholder="Listing ID" class="form-control"/>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="url">Address</label>
            <div class="controls">
                <input name="address" id="address" type="text" value="{{address}}" placeholder="Address" class="form-control"/>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label" for="title">Description</label>
            <div class="controls">
                    <div id="summernoteDescription">

                    </div>
            </div>
        </div>
        <input type="submit" value="Save" class="btn btn-primary submit"/>
        <!-- <input type="submit" value="Save & Close" class="btn btn-primary submitclose"/> -->
        <input type="button" value="Cancel" class="btn cancel"/>
        <hr/>
        <a class="btn btn-danger delete" href="#">Delete Listing</a>
    </form>
</template>
