<template name="adminPageEdit">
    <form class="main form page">
        <div class="form-group">
            <label class="control-label" for="url">Menu</label>
            <div class="controls">
                <input name="menu" id="menu" type="text" value="{{menu}}" placeholder="Your menu" class="form-control"/>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="url">Seo Url</label>
            <div class="controls">
                <input name="seourl" id="seourl" type="text" value="{{seourl}}" placeholder="SEO Url" class="form-control"/>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="url">Status</label>
            <div class="dropdown">
            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
              Status
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
              <li><a href="#">Published</a></li>
              <li><a href="#">Unpublished</a></li>

            </ul>
          </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="order">Menu Order</label>
            <div class="controls">
                <input name="menuorder" id="menuorder" type="text" value="{{menuorder}}" placeholder="" class="form-control"/>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="title">Content</label>
            <div class="controls">
            <input name="content" id="content" type="text" value="{{pageContent}}" placeholder="Name your post" class="form-control"/>
                    <div id="summernoteContent">

                    </div>
            </div>
        </div>
        <input type="submit" value="Save" class="btn btn-primary submit"/>
        <!-- <input type="submit" value="Save & Close" class="btn btn-primary submitclose"/> -->
        <input type="button" value="Cancel" class="btn cancel"/>
        <hr/>
        <a class="btn btn-danger delete" href="#">Delete page</a>
    </form>
</template>
