<template name="adminPageEdit">
    <form class="main form page">
        <div class="form-group">
            <label class="control-label" for="url">Menu</label>
            <div class="controls">
                <input name="menu" id="menu" type="text" value="{{menu}}" placeholder="Your menu" class="form-control"/>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="title">Content</label>
            <div class="controls">
            <input name="content" id="content" type="text" value="{{pageContent}}" placeholder="Name your post" class="form-control"/>
                    <div id="summernoteContent">

                    </div>
            </div>
        </div>
        <input type="submit" value="Save" class="btn btn-primary submit"/>
        <!-- <input type="submit" value="Save & Close" class="btn btn-primary submitclose"/> -->
        <input type="button" value="Cancel" class="btn cancel"/>
        <hr/>
        <a class="btn btn-danger delete" href="#">Delete page</a>
    </form>
</template>
