body {
  padding-top: 50px;
  padding-left:10px;
  padding-right:10px;
}
#main {
position: relative;
}
/* 404 */
.error-template {padding: 40px 15px;text-align: center;}
.error-actions {margin-top:15px;margin-bottom:15px;}
.error-actions .btn { margin-right:10px; }

/* Splash screen loading */
.loading-message {
  color: #fff;
  font-size: 25px;
  font-weight: 300;
  font-family: sans-serif;
}

.sk-spinner-rotating-plane.sk-spinner {
  background-color: #fff;
}

h4 {
  margin-top: 25px;
}
.row {
  margin-bottom: 20px;
}
.row .row {
  margin-top: 10px;
  margin-bottom: 0;
}
[class*="col-"] {
  padding-top: 15px;
  padding-bottom: 15px;
  border: 1px solid #ddd;
}

hr {
  margin-top: 40px;
  margin-bottom: 40px;
}

@-webkit-keyframes fadeOut {
0% {opacity: 0;}
10% {opacity: 1;}
90% {opacity: 1;}
100% {opacity: 0;}
}
@keyframes fadeOut {
0% {opacity: 0;}
10% {opacity: 1;}
90% {opacity: 1;}
100% {opacity: 0;}
}
.errors{
position: fixed;
z-index: 10000;
padding: 10px;
top: 0px;
left: 0px;
right: 0px;
bottom: 0px;
pointer-events: none;
}
.alert {
animation: fadeOut 2700ms ease-in 0s 1 forwards;
-webkit-animation: fadeOut 2700ms ease-in 0s 1 forwards;
-moz-animation: fadeOut 2700ms ease-in 0s 1 forwards;
width: 250px;
float: right;
clear: both;
margin-top: 40px;
margin-bottom: 5px;
pointer-events: auto;
}

/* centered columns styles */
.row-centered {
    text-align:center;
}
.col-centered {
    display:inline-block;
    float:none;
    /* reset the text-align */
    text-align:left;
    /* inline-block space fix */
    margin-right:-4px;
}

/* report */
#divHtmlReport {
       overflow: auto;
       height: 100% !important;

   }

   .imageLabelContainer {
       position: absolute;
       top: 0;
       left: 0;
       text-align: center;
       overflow: hidden;
       white-space: nowrap;
   }

   .imageLabel {
       text-overflow: ellipsis;
       font-family: Tahoma;
       font-size: 11px;
       color: white;
       background-color: black;
       opacity: .60;
       padding: 1px 6px;
       width: auto;
       display: inline-block;
   }

   .imageSpinnerTable {
       background-color: black;
       opacity: .60;
       color: white;
       height: 14px;
       margin-left: auto;
       margin-right: auto;
   }

   .imageSpinnerTable td {
       white-space: nowrap;
   }

   .imageSpinner {
       display: inline-block;
       cursor: pointer;
       background-image: url('/images/action-sprite.png');
       height: 13px;
       width: 13px;
       margin: 0 4px;
       background-repeat:no-repeat;
   }

   .imageSpinnerPrev
   {
       background-position: -94px -2005px;
   }

   .imageSpinnerNext
   {
       background-position: -120px -2005px;
   }
   body
   {
       background-color: White;
   }
   .hide{display:none;}
 .ad-content {
   width: 1100px;
 }
 .adList {
   left: 805px;
   z-index: 1;
 }
 @media (max-width: 1024px) {
     .adList {
       position: relative;
       left: -24px;
     }
   }

img[class^='f-integration'],img[class*=' f-integration']{
       display:none;
}
a[class^='f-integration'],a[class*=' f-integration']{
       display:none;
}
