<template name="homeListings">
  <div class="row row-centered">
    <div class="col-xs-6 col-md-4 ">
      <div class="thumbnail">
        <a href="#">
          <img src="/images/listings/21501546.jpg" width="272px" height="205px" alt="..." class="img-thumbnail">
        </a>
        <div class="caption">
         <h5 class="center-block"> 11440 W Maple Dr, Columbus, IN 47201 </h5>
         <p class="center-block"><a href="{{pathFor 'homeListingDetails' mlsId = 21501546 }}" class="btn btn-primary btn-lg " role="button">MLS 21501546</a></p>
        </div>
      </div>
    </div>
    <div class="col-xs-6 col-md-4 ">
        <div class="thumbnail">
          <a href="#">
            <img src="/images/listings/21501696.jpg" width="272px" height="205px" alt="..." class="img-thumbnail">
          </a>
        <div class="caption">
          <h5 class="center-block"> 11440 W Maple Dr, Columbus, IN 47201 </h5>
          <p class="center-block"><a href="#" class="btn btn-primary btn-lg " role="button">MLS 21501546</a></p>
        </div>
      </div>
    </div>
    <div class="col-xs-6 col-md-4 center-block">
      <img src="/images/listings/21402093.jpg" width="272px" height="205px" alt="..." class="img-thumbnail">
    </div>
  </div>
  <div class="row">
    <div class="col-xs-6 col-md-4 center-block">
      <img src="/images/listings/4120ssummit.jpg" width="272px" height="205px" alt="..." class="img-thumbnail">
    </div>
    <div class="col-xs-6 col-md-4 center-block">
      <img src="/images/listings/5211spoplar.jpg" width="272px" height="205px" alt="..." class="img-thumbnail">
    </div>
    <div class="col-xs-6 col-md-4 center-block">
      <img src="/images/listings/5241Front.jpg" width="272px" height="205px" alt="..." class="img-thumbnail">
    </div>
  </div>

</template>
